/* You can add global styles to this file, and also import other style files */
/* body {
    background: url(http://arthurbergere.com/lofi/gif/jordan-pak-lofi.gif) center center fixed;
    background-size: cover;
} */

body {
    background-color: rgb(22, 22, 22);
}